@use "../global.scss" as *;

.editProfileBanner {
    padding: 120px 0;
    h3 {
        @include bannerHeading;
    }
    p{
        @include blogHeadingSecondary;
        max-width: 450px;
        margin: auto;
    }
}
.editProfileContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 120px 0;
}

.profileContainer {
    max-width: 920px;
    margin: auto;
    .userProfile {
        margin-bottom: 3rem;
        top: 90px;
        img {
            width: 80%;
            height: auto;
        }
        h3 {
            @include blogHeading;
        }
        p {
            @include blogPreHeading;
        }
        .socialIcon {
            svg {
                color: $secondary;
                cursor: pointer;
                margin: 0 3px;
                transition: all .1s linear;
                &:hover {
                    color: $primary;
                }
            }
        }

    }
}