@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap');

$primary: #d16b86;
$secondary: #343f52;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #d16b86;
    color: #fff;
}

body {
    font-family: 'Urbanist', sans-serif;
}

@mixin primaryHeading {
    font-size: 34px;
    line-height: 43px;
    font-weight: 600;
    text-transform: capitalize;
}

@mixin secondaryHeading {
    font-size: 20px;
    line-height: 29px;
    font-weight: 600;
    text-transform: capitalize;
}

@mixin blogPreHeading {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

@mixin blogHeading {
    font-size: 27px;
    line-height: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

@mixin paragraph {
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
}

@mixin blogHeadingSecondary {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
}
.break{
    display: block;
}
.icon {
    width: 18px;
    height: 18px;
}

.sectionPadding {
    padding-bottom: 120px;

    @media only screen and (max-width: 992px) {
        padding-bottom: 60px 0;
    }

    @media only screen and (max-width: 768px) {
        padding-bottom: 40px 0;
    }
}

.iconContainer {
    &:not(:last-child)::after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: rgba(184, 186, 189, 0.5);
        opacity: .5;
        position: relative;
        left: 10px;
    }
}

.listStyle {
    h3 {
        @include secondaryHeading;
    }

    ul.categoriesList {
        list-style: none;

        li {
            position: relative;

            &::before {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 20px;
                background-color: #d16b86;
                display: block;
                position: absolute;
                left: -20px;
                top: 11px;
            }

            p {
                @include paragraph;
            }
        }
    }
}

.popularPost {
    h3 {
        @include secondaryHeading;
    }
}
.socialContainer {
    .socialIcon {
        width: 22px;
        height: 22px;
        transition: all .20s linear;
        &:hover {
            transform: translateY(-10px);
        }
    }
}