@use "../global.scss" as *;


.signInSignUpContainer {
    .signInSignUpContainerLeftSide {
        background-image: url("https://shorturl.at/yRU68");
        background-color: #3ebddd;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .contentContainer {
            h4 {
                font-family: $bannerFont;
                font-size: 120px;
                line-height: 126px;
                font-weight: 700;
            }
        }
    }

    .formContainer {
        padding: 120px 60px 0;
    }
}

.signInSignUpForm {
    .formHeader {
        h3 {
            @include primaryHeading;
        }

        p {
            @include paragraph;
        }
    }

    .formFotter {
        .divider {

            &::before,
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #ddd;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }

        button {
            img {
                width: 30px;
                height: auto;
            }
        }
    }
}

.errorMessage {
    span {
        @include blogPreHeading;
    }
}
::placeholder, label {
    @include paragraph;
}