@use "../global.scss" as *;


.signInSignUpContainer {
    .signInSignUpContainerLeftSide {
        background-image: url("https://images.pexels.com/photos/1671230/pexels-photo-1671230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-color: #265f6b;
        background-blend-mode: hard-light;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .contentContainer {
            h4 {
                font-size: 72px;
                line-height: 72px;
            }

            p {
                @include paragraph;
            }
        }
    }

    .formContainer {
        padding: 160px 60px 0;
    }
}